/* Containers */

.container-sm{
  max-width: 640px;
  padding: 0 16px;
  margin: auto;
}

.container,
.container-md{
  max-width: 768px;
  padding: 0 16px;
  margin: auto;
}

.container-lg{
  max-width: 1024px;
  padding: 0 16px;
  margin: auto;
}

.container-xl{
  max-width: 1280px;
  padding: 0 16px;
  margin: auto;
}

/* Sections */
.section-sm{
  margin: 32px 0;
}

.section,
.section-md{
  margin: 48px 0;
  margin-bottom: 80px;
}

.section-lg{
  margin: 96px 0;
}

.section-xl{
  margin: 144px 0;
}

.section-sm-padded{
  padding: 32px 0;
}

.section-padded,
.section-md-padded{
  padding: 48px 0;
  width: 100%;
}

.section-lg-padded{
  padding: 96px 0;
}

.section-xl-padded{
  padding: 144px 0;
}