.header{
  background-color: var(--white);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__links{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0;
}
.navbar-logo{
  color: var(--gray-900)
}
.navbar__links .link{
  text-decoration: none;
  color: var(--primary);
  padding: 0.25em 0.5em;
  border-radius: .5em;
}
.navbar__links .link:hover{
  color: var(--primary-dark)
}
.navbar__links .link:focus{
  outline: 2px solid;
  outline-offset: 1px;
}
