.overline{
  letter-spacing: .125rem;
  text-transform: uppercase;
}
.monospace{
  font-family: "Source Code Pro", monospace;
}
.light{
  font-weight: 300;
}
.regular{
  font-weight: 400;
}
.italic{
  font-style: italic;
}
.semibold{
  font-weight: 600;
}
.list-style-none{
  list-style: none;
}
.text-decoration-none{
  text-decoration: none;
}
.ml-1{
  margin-left: 1rem;
}
.color-primary{
  color: var(--primary)
}
.color-primary-dark{
  color: var(--primary-dark)
}
.bg-color-secondary-light{
  background-color: var(--secondary-light);
}
.bg-color-lighter{
  background-color: var(--background-lighter);
}
.bg-color{
  background-color: var(--background);
}
.bg-color-dark{
  background-color: var(--background-dark);
}
.imagen{
  border-radius: 8px;
}
.portfolio-main-margin{
  margin-bottom: 50px;
}
.body-portfolio{
  position: relative;
  padding-bottom: 12.5em;
  min-height: 100vh;
  /* display: grid;
  min-height: 100vh;
	grid-tem
  plate-rows: auto 1fr auto; */
}
.main-article-margin{
  max-width: 768px;
  padding: 0 16px;
  margin: 3rem auto;
}
.blockquote-style{
  background-color: var(--secondary-light);
  padding: 1rem 1.125rem;
  border-radius: 0.5em;
  margin: 1rem 0;

}
figure{
  margin: 1.8rem 0;
  margin-bottom: 0;
}
.article-img{
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.article-list-style{
  font-size: 1.125rem;
  line-height: 2rem;
  list-style-type: none;
  /* padding: 1rem 0; */
}

.article-list-style li:before {
  content: "•";
  font-size: 0.8em; /* ajusta el tamaño a tu preferencia */
  margin-right: 0.5em; /* ajusta el margen a tu preferencia */
}

.project-section-padded{
  /* padding: 0 1rem; */
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin: 1rem auto;
}
.project-title-margin{
  margin-bottom: 1rem;
}
.project-paragraph-margin{
  margin-bottom: 2.5rem;
}
.project-subtitle-margin{
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
.project-image{
  max-width: initial;
}